/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 nov. 2016, 08:24:44
    Author     : ALVIN
*/
#div-app-menu a{text-decoration: none}
#div-app-menu a:hover{color: #ffffff}
#div-app-menu li:hover {background-color: #1c1c1c}
#div-app-menu .list-group-item{border-right: none; border-left: none; padding: 7px; border-radius: 0px}
#div-app-menu .list-group-item a:hover{cursor: pointer; background-color: #f94815}
#div-app-menu .list-group{margin-top: -20px}
#div-app-menu tr{border-bottom: 1px solid #747474; width: 100%}
